{% extends 'layout.html' %}
{% block title %}All registered users{% endblock %}
{% block content %}
  <style>
    .list-group-item:hover{
      background-color: #a8a7a5;
    }
  </style>
  <div class = 'alert alert-info'>
    <img src = "{{url_for('static', filename = 'info.png')}}" alt="">
    {{users|length}} user accounts have been created
  </div>
  <ul class = 'list-group'>
    {% for user in users %}
      <li class = 'list-group-item list-group-item-secondary'>
        {{user['first_name']}} {{user['last_name']}} <span class = 'indexNumber'> index number: {{user['index_number']}}</span>
      </li>
    {% endfor %}
  </ul>
  {% endblock %}
